body {
    color: white;
    background-color: rgb(55, 55, 55);
    font-family: Arial, Helvetica, sans-serif;
}

.lol {
    text-align: center;
    padding-top: 400px;
}
.hidupceweanime {
    text-align: center;
    padding-top: 600px;
}